Repository LinCast-Team/LinCast, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend

.github/labeler.yml:

backend:
  - ./*.go
  - database/**/*
  - psync/**/*
  - podcasts/**/*
  - queue/**/*
  - server/**/*  

frontend:
  - webui/**/*

Updated frontend path
  .github/workflows/go.yml
Labels: none

Modified the type of Episode.CurrentProgress from string to time.Duration
  database/db.go
  database/db_test.go
  podcasts/podcasts.go
Labels: backend

Replaced audio element with Howler
  webui/frontend/package.json
  webui/frontend/src/App.vue
  webui/frontend/src/components/Player.vue
  webui/frontend/yarn.lock
Labels: frontend

Top 0 player closed fix
  webui/frontend/src/App.vue
Labels: frontend

Corrected visual bug
  webui/frontend/src/App.vue
Labels: frontend

Added progress bar on mini player
  webui/frontend/src/components/Player.vue
Labels: frontend

Added json tags to the struct `CurrentProgress`
  psync/psync.go
Labels: backend

Implemented API to get/update player progress (+tests)
  server/handlers.go
  server/handlers_test.go
  server/server.go
Labels: backend

Added logging on errors
  server/handlers.go
Labels: backend

Usage of the (player) `Synchronizer`
  main.go
Labels: backend
