Repository LinCast-Team/LinCast, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend

build(deps-dev): @tailwindcss/postcss7-compat updated from 2.2.14 to 2.2.16
  webui/frontend/package.json
  webui/frontend/yarn.lock
Labels: frontend

build(deps-dev): autoprefixer updated from 9.8.6 to 9.8.8
  webui/frontend/package.json
  webui/frontend/yarn.lock
Labels: frontend

build(deps-dev): autoprefixer updated from 9.8.6 to 9.8.8 (corrected)
  webui/frontend/package.json
  webui/frontend/yarn.lock
Labels: frontend

build(deps-dev): core-js updated from 3.17.3 to 3.18.2
  webui/frontend/package.json
  webui/frontend/yarn.lock
Labels: frontend

build(deps-dev): eslint-plugin-vue updated from 7.17.0 to 7.19.1
  webui/frontend/package.json
  webui/frontend/yarn.lock
Labels: frontend

build(deps-dev): @vue/compiler-sfc updated from 3.2.11 to 3.2.20
  webui/frontend/package.json
  webui/frontend/yarn.lock
Labels: frontend

build(deps-dev): vue updated from 3.2.11 to 3.2.20
  webui/frontend/package.json
  webui/frontend/yarn.lock
Labels: frontend

build(deps-dev): postcss updated from 7.0.36 to 7.0.39
  webui/frontend/package.json
  webui/frontend/yarn.lock
Labels: frontend

test(api): testing of `LatestEpisodesHandler`
  webui/handlers/podcasts_test.go
Labels: none

feat(api): endpoint for latest eps
  webui/handlers/podcasts.go
  webui/server.go
Labels: backend

fix(api): usage of pointers on large data collections
  webui/handlers/podcasts.go
  webui/handlers/queue.go
Labels: none

style(test): removed trailing newline
  webui/handlers/podcasts_test.go
Labels: none

test(api): show more details on failed assertion
  webui/handlers/podcasts_test.go
Labels: none

test(api): corrected published date of test eps
  webui/handlers/podcasts_test.go
Labels: none

fix(ui): declaration of png files
  webui/frontend/src/decs.d.ts
Labels: frontend

feat(ui): usage of defineComponent fn
  webui/frontend/src/components/NavigationBar.vue
  webui/frontend/src/components/Player.vue
  webui/frontend/src/components/RoundedPodcastCover.vue
  webui/frontend/src/components/discover/Category.vue
  webui/frontend/src/components/discover/Podcast.vue
  webui/frontend/src/components/discover/Search.vue
  webui/frontend/src/components/home/SubscriptionsPreview.vue
  webui/frontend/src/components/library/EpisodeItem.vue
  webui/frontend/src/components/library/Item.vue
  webui/frontend/src/components/library/LinCastInfo.vue
  webui/frontend/src/components/library/PodcastItem.vue
  webui/frontend/src/components/library/RecentPodcast.vue
  webui/frontend/src/components/shared/WorkSignal.vue
  webui/frontend/src/components/subscriptions/Header.vue
  webui/frontend/src/components/subscriptions/SubTabs.vue
  webui/frontend/src/components/subscriptions/tabs/NewEspisodesTab.vue
  webui/frontend/src/components/subscriptions/tabs/PodcastsTab.vue
Labels: frontend

refactor(api-ui): adaptation to api modifications
  webui/frontend/src/store/api/player.ts
Labels: frontend

feat(api-ui): functions to handle episode progress
  webui/frontend/src/store/api/player.ts
Labels: frontend

refactor(api-ui): removed internal interface
  webui/frontend/src/store/api/player.ts
Labels: frontend

feat(vuex): added state
  webui/frontend/src/store/state.ts
Labels: frontend

feat(vuex): added mutation types
  webui/frontend/src/store/mutation-types.ts
Labels: frontend

feat(vuex): added basic mutations
  webui/frontend/src/store/mutations.ts
Labels: frontend

feat(vuex): added action types
  webui/frontend/src/store/action-types.ts
Labels: frontend

feat(vuex): added constants for episodes' progress management
  webui/frontend/src/store/action-types.ts
Labels: frontend

feat(vuex): added function to get latest episodes
  webui/frontend/src/store/api/subscriptions.ts
Labels: frontend

fix(vuex): corrected type of PlaybackInfo.episodeID
  webui/frontend/src/store/api/player.ts
Labels: frontend

refactor(vuex): renamed some ActionTypes' constants
  webui/frontend/src/store/action-types.ts
Labels: frontend

refactor(vuex): added mutation to set progress
  webui/frontend/src/store/mutation-types.ts
  webui/frontend/src/store/mutations.ts
Labels: frontend

refactor(vuex): storage of the player progress in the state
  webui/frontend/src/store/state.ts
Labels: frontend

feat(vuex): added some basic actions
  webui/frontend/src/store/actions.ts
Labels: frontend

feat(vuex): added getters
  webui/frontend/src/store/getters.ts
Labels: frontend

feat(vuex): vuex store created
  webui/frontend/src/store/index.ts
Labels: frontend

fix(vuex): usage of vuex store
  webui/frontend/src/main.ts
Labels: frontend

fix(vuex): usage of 'from' and 'to' as query params
  webui/frontend/src/store/api/subscriptions.ts
Labels: frontend

refactor(vuex): usage of payload on latest eps action
  webui/frontend/src/store/actions.ts
Labels: frontend

refactor(vuex): removed module related with the player
  webui/frontend/src/store/modules/player.ts
Labels: frontend

style(vuex): plural name of enum
  webui/frontend/src/store/action-types.ts
Labels: frontend

feat(models): added json fields on models
  models/podcasts.go
Labels: none

feat(api-ui): added class APIBase
  webui/frontend/src/store/api/api-base.ts
Labels: frontend

feat(api-ui): moved types into a separate file
  webui/frontend/src/store/api/types.ts
Labels: frontend

.github/labeler.yml:

backend:
  - ./*.go
  - database/**/*
  - psync/**/*
  - podcasts/**/*
  - queue/**/*
  - webui/*.go  

frontend:
  - webui/frontend/**/*
