Repository LinCast-Team/LinCast, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend

refactor(ui): usage of subs store
  webui/frontend/src/components/subscriptions/tabs/NewEspisodesTab.vue
Labels: frontend

Update version of golangci-lint gh action
  .github/workflows/golangci-lint.yml
Labels: none

Added read permissions to CI
  .github/workflows/golangci-lint.yml
Labels: none

Change to AGPL-3 license
  LICENSE
Labels: none

Removed references to previously embeded frontent
  api/handlers/auth.go
  api/handlers/history.go
  api/handlers/manager.go
  api/handlers/manager_test.go
  api/handlers/player.go
  api/handlers/player_test.go
  api/handlers/podcasts.go
  api/handlers/podcasts_test.go
  api/handlers/queue.go
  api/handlers/queue_test.go
  api/middleware.go
  api/server.go
  api/server_test.go
  main.go
Labels: backend

Added chi dependency
  go.mod
  go.sum
Labels: none

Parse constants from cmd flags directly
  api/server.go
  main.go
Labels: backend

Usage of chi router
  api/server.go
  go.mod
  go.sum
Labels: none

Removed mux dependent parts
  api/handlers/player.go
  api/handlers/player_test.go
  api/handlers/podcasts.go
  api/handlers/podcasts_test.go
  api/handlers/queue.go
  go.mod
  go.sum
  utils/testing/requests.go
Labels: none

Disable logging to file by default
  main.go
Labels: backend

Partial implementation of generic repo base
  repositories/repository.go
Labels: none

Usage of generic repo as base of podcast repository
  repositories/podcast.go
Labels: none

Update of dependencies
  go.mod
  go.sum
Labels: none

Removed repositories in order of using dao design pattern
  repositories/podcast.go
  repositories/repository.go
Labels: none

Implementation of dao for `Podcast`
  daos/podcast.go
Labels: none

Update dependencies and remove unused gziphandler package
  api/middleware.go
  api/server.go
  go.mod
  go.sum
Labels: none

Refactor server_test.go and add TestNewServer function
  api/server_test.go
Labels: none

Models improving for better description of the reality
  database/db.go
  models/episodeprogress.go
  models/player.go
  models/podcast.go
  models/podcasts.go
  models/queue.go
  models/user.go
  update/queue.go
Labels: backend

Usage of repository design pattern instead of dao (once again)
  repositories/podcast.go
Labels: none

Variables de-referencing for appropiate logging
  main.go
Labels: backend

Usage of correct package name
  repositories/podcast.go
Labels: none

Fixed implementation QueueEpisode's relation with User
  models/queue.go
Labels: none

Avoid returning the entire user when parsing to JSON
  models/podcast.go
Labels: none

Implementation of QueueEpisode's repository
  repositories/queue.go
Labels: none

Represent subcriptions by a many to many relation
  api/handlers/podcasts.go
  models/podcast.go
  models/user.go
  podcasts/podcasts.go
Labels: backend

Add methods to podcasts' repository
  repositories/podcast.go
Labels: none

Implementation podcast repository's UpdateSubscriptionStatus method
  repositories/podcast.go
Labels: none

Removed logging of recently deleted Podcast field
  main.go
Labels: backend

Update go.mod to include github.com/google/uuid v1.6.0
  go.mod
  go.sum
Labels: none

Refactor User model to include UUID as primary key
  models/user.go
Labels: none

Refactor PlaybackInfo model to include UUID as primary key
  models/player.go
Labels: none

Refactor EpisodeProgress model correctly reference another entities
  models/episodeprogress.go
Labels: none

Refactor QueueEpisode model to use UUID as primary key and correctly reference other entities
  models/queue.go
Labels: none

Moved Episode model to another file
  models/episode.go
  models/podcast.go
Labels: none

Added player repository
  repositories/player.go
Labels: none

Usage of UUID as user's ID type
  repositories/podcast.go
  repositories/queue.go
Labels: none

Added user repository
  repositories/user.go
Labels: none

Fixed relations between entities
  models/episode.go
  models/player.go
  models/podcast.go
  models/user.go
Labels: none

Added dependencies uuid, godotenv and gorm's mysql driver
  go.mod
  go.sum
Labels: none

Usage of uint instead of int for compatibility
  api/handlers/queue.go
Labels: none

.github/labeler.yml:

backend:
  - ./*.go
  - database/**/*
  - psync/**/*
  - podcasts/**/*
  - queue/**/*
  - webui/*.go  

frontend:
  - webui/frontend/**/*
