Repository LinCast-Team/LinCast, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend

Added files accidentally removed on the merge
  webui/frontend/.browserslistrc
  webui/frontend/.gitignore
  webui/frontend/babel.config.js
  webui/frontend/src/assets/css/tailwind.css
  webui/frontend/src/shims-vue.d.ts 
  webui/frontend/src/store/index.ts
  webui/frontend/src/views/About.vue
Labels: frontend

Removed space at the end of filename
  webui/frontend/src/shims-vue.d.ts
Labels: frontend

Replaced `npm` with `yarn`
  .github/workflows/go.yml
Labels: none

Replaced npm with yarn
  .github/workflows/golangci-lint.yml
Labels: none

Usage of yarn instead of npm
  .github/workflows/goreleaser.yml
Labels: none

Update label.yml
  .github/workflows/label.yml
Labels: none

Bump core-js from 3.6.5 to 3.17.2
  webui/frontend/package.json
  webui/frontend/yarn.lock
Labels: frontend

Bump typescript from 3.9.3 to 4.4.2
  webui/frontend/package.json
  webui/frontend/yarn.lock
Labels: frontend

Bump vue from 3.0.7 to 3.2.9
  webui/frontend/package.json
  webui/frontend/yarn.lock
Labels: frontend

Bump vue-router from 4.0.5 to 4.0.11
  webui/frontend/package.json
  webui/frontend/yarn.lock
Labels: frontend

Update vuex from 4.0.0 to 4.0.2
  webui/frontend/package.json
  webui/frontend/yarn.lock
Labels: frontend

Bump @types/animejs from 3.1.3 to 3.1.4
  webui/frontend/package.json
  webui/frontend/yarn.lock
Labels: frontend

Bump @vue/compiler-sfc from 3.0.0 to 3.2.10
  webui/frontend/package.json
  webui/frontend/yarn.lock
Labels: frontend

Bump eslint-plugin-import from 2.20.2 to 2.24.2
  webui/frontend/package.json
  webui/frontend/yarn.lock
Labels: frontend

Modified order of imports
  webui/frontend/src/App.vue
  webui/frontend/src/components/library/EpisodeItem.vue
  webui/frontend/src/views/Library.vue
  webui/frontend/src/views/Subscriptions.vue
Labels: frontend

Bump eslint-plugin-vue from 7.0.0-0 to 7.17.0
  webui/frontend/package.json
  webui/frontend/yarn.lock
Labels: frontend

build(ui): removed tailwind and related deps
  webui/frontend/package.json
  webui/frontend/yarn.lock
Labels: frontend

build(ui): usage of vue's tailwind plugin
  webui/frontend/package.json
  webui/frontend/tailwind.config.js
  webui/frontend/yarn.lock
Labels: frontend

style(ui): fixed eslint warnings
  webui/frontend/src/shims-vue.d.ts
  webui/frontend/src/store/api/queue.ts
  webui/frontend/src/store/modules/player.ts
Labels: frontend

fix(models): removed redundant `progress` field
  models/player.go
  webui/handlers/player_test.go
Labels: none

Create CHANGELOG.md
  CHANGELOG.md
Labels: none

refactor(models): renamed struct CurrentProgress to PlaybackInfo
  database/db.go
  database/db_test.go
  models/player.go
Labels: backend

refactor(router): changed path of endpoint related with playback info
  webui/server.go
Labels: backend

refactor(api): adaptation to previous changes
  webui/handlers/player.go
  webui/handlers/player_test.go
Labels: none

style(api): removed leading newline
  webui/handlers/player.go
Labels: none

feat(api): added handler `EpisodeProgressHandler` (incomplete)
  webui/handlers/podcasts.go
  webui/server.go
Labels: backend

test(api): testing of `EpisodeProgressHandler` GET
  webui/handlers/podcasts_test.go
Labels: none

feat(api): finished `EpisodeProgressHandler` (PUT)
  webui/handlers/podcasts.go
Labels: none

test(api): testing of `EpisodeProgressHandler` PUT
  webui/handlers/podcasts_test.go
Labels: none

style(api-tests): go fmt applied
  webui/handlers/podcasts_test.go
Labels: none

refactor: renamed package `queue` to `update`
  main.go
  update/queue.go
Labels: backend

feat(feeds-update): update of feed on podcast subscription
  main.go
  update/queue.go
  webui/handlers/manager.go
  webui/handlers/manager_test.go
  webui/handlers/player_test.go
  webui/handlers/podcasts.go
  webui/handlers/podcasts_test.go
  webui/handlers/queue_test.go
  webui/server.go
Labels: backend

style: go fmt applied
  webui/handlers/manager.go
Labels: none

ci: removed frontend updates from dependabot
  .github/dependabot.yml
Labels: none

build(deps-dev): bump @vue/cli-service from 4.5.0 to 4.5.13
  webui/frontend/package.json
  webui/frontend/yarn.lock
Labels: frontend

build(deps-dev): bump @vue/cli-plugin-babel from 4.5.12 to 4.5.13
  webui/frontend/package.json
  webui/frontend/yarn.lock
Labels: frontend

build(deps-dev): bump @vue/cli-plugin-eslint from 4.5.12 to 4.5.13
  webui/frontend/package.json
  webui/frontend/yarn.lock
Labels: frontend

build(deps-dev): bump @vue/cli-plugin-router from 4.5.12 to 4.5.13
  webui/frontend/package.json
  webui/frontend/yarn.lock
Labels: frontend

build(deps-dev): bump @vue/cli-plugin-typescript from 4.5.12 to 4.5.13
  webui/frontend/package.json
  webui/frontend/yarn.lock
Labels: frontend

build(deps-dev): bump @vue/cli-plugin-vuex from 4.5.12 to 4.5.13
  webui/frontend/package.json
  webui/frontend/yarn.lock
Labels: frontend

.github/labeler.yml:

backend:
  - ./*.go
  - database/**/*
  - psync/**/*
  - podcasts/**/*
  - queue/**/*
  - webui/*.go  

frontend:
  - webui/frontend/**/*
