Repository LinCast-Team/LinCast, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend

.github/labeler.yml:

backend:
  - ./*.go
  - database/**/*
  - psync/**/*
  - podcasts/**/*
  - queue/**/*
  - webui/*.go  

frontend:
  - webui/frontend/**/*

build(frontend): added storybook
  webui/frontend/.storybook/main.js
  webui/frontend/.storybook/preview.js
  webui/frontend/package.json
  webui/frontend/src/stories/Button.stories.js
  webui/frontend/src/stories/Button.vue
  webui/frontend/src/stories/EpisodeItem.stories.js
  webui/frontend/src/stories/Header.stories.js
  webui/frontend/src/stories/Header.vue
  webui/frontend/src/stories/Introduction.stories.mdx
  webui/frontend/src/stories/Page.stories.js
  webui/frontend/src/stories/Page.vue
  webui/frontend/src/stories/assets/code-brackets.svg
  webui/frontend/src/stories/assets/colors.svg
  webui/frontend/src/stories/assets/comments.svg
  webui/frontend/src/stories/assets/direction.svg
  webui/frontend/src/stories/assets/flow.svg
  webui/frontend/src/stories/assets/plugin.svg
  webui/frontend/src/stories/assets/repo.svg
  webui/frontend/src/stories/assets/stackalt.svg
  webui/frontend/src/stories/button.css
  webui/frontend/src/stories/header.css
  webui/frontend/src/stories/page.css
  webui/frontend/yarn.lock
Labels: frontend

build(style): automatically include global styles
  webui/frontend/package.json
  webui/frontend/src/App.vue
  webui/frontend/src/assets/css/styles.scss
  webui/frontend/src/components/NavigationBar.vue
  webui/frontend/src/components/library/EpisodeItem.vue
  webui/frontend/src/components/library/LinCastInfo.vue
  webui/frontend/src/components/shared/WorkSignal.vue
  webui/frontend/src/components/subscriptions/SubTabs.vue
  webui/frontend/vue.config.js
  webui/frontend/yarn.lock
Labels: frontend

build(storybook): include global styles on stories
  webui/frontend/.storybook/main.js
  webui/frontend/src/stories/EpisodeItem.stories.js
Labels: frontend

style: removed extra line
  webui/frontend/src/App.vue
Labels: frontend

build(storybook): added accessibility addon
  webui/frontend/.storybook/main.js
  webui/frontend/package.json
  webui/frontend/yarn.lock
Labels: frontend

build(storybook): usage of vue 3 setup method
  webui/frontend/src/stories/EpisodeItem.stories.js
Labels: frontend

refactor(api): remove redundancy on path
  webui/server.go
Labels: backend

refactor(api-ui): usage of modified path
  webui/frontend/src/api/subscriptions.ts
Labels: frontend

build(go): updated go from v1.16 to v1.17
  go.mod
Labels: none

ci(go): usage of go v1.17
  .github/workflows/go.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/goreleaser.yml
Labels: none

ci: removed manual installation of Go
  .github/workflows/golangci-lint.yml
Labels: none

ci(go-linter): removed compilation of the frontend
  .github/workflows/golangci-lint.yml
Labels: none

build(go): run `go mod tidy` to add missing deps
  go.mod
Labels: none

ci(go-lint): remove commented steps
  .github/workflows/golangci-lint.yml
Labels: none

feat(utils): added function to sanitize strings before logging
  utils/strings/sanitize.go
Labels: none

refactor(utils): moved Sanitize fn to package safe
  utils/safe/sanitize.go
Labels: none

refactor(api): sanitize user input before logging
  webui/handlers/player.go
  webui/handlers/podcasts.go
  webui/handlers/queue.go
Labels: none

refactor(api-middleware): log path and user agent
  webui/middleware.go
Labels: backend

refactor(api): decreased amount of data logged
  webui/handlers/player.go
  webui/handlers/podcasts.go
  webui/handlers/queue.go
  webui/middleware.go
Labels: backend

refactor(api-middleware): apply sanitization of user agent before logging
  webui/middleware.go
Labels: backend

docs: comments clarified
  models/podcasts.go
Labels: none

test(api): added helper function
  webui/handlers/podcasts_test.go
Labels: none

feat(api): added endpoint to set an episode as played
  webui/handlers/player.go
  webui/server.go
Labels: backend

test(api): added tests to SetEpisodeStatusHandler
  webui/handlers/player_test.go
Labels: none

feat(api-middleware): log the requested URL
  webui/middleware.go
Labels: backend

test(api): added tests for EpisodeDetailsHandler
  webui/handlers/podcasts_test.go
Labels: none

style(tests): gofmt applied
  webui/handlers/podcasts_test.go
Labels: none

feat(api): added endpoint to get details of an episode
  webui/handlers/podcasts.go
  webui/server.go
Labels: backend

build(deps): added pinia
  webui/frontend/package.json
  webui/frontend/yarn.lock
Labels: frontend

feat(ui-state): initialized Pinia
  webui/frontend/src/main.ts
Labels: frontend

build(deps): added package Service
  go.mod
  go.sum
Labels: none

style(main): grouped constants
  main.go
Labels: backend

feat: proper handling of O.S. shutdown signals
  main.go
Labels: backend

feat: added ability to run as a service
  service.go
Labels: backend

feat: management of the service from command line
  main.go
Labels: backend

fix: exit when flag to manage service is used without value
  main.go
Labels: backend

revert: reverted previous commit
  main.go
Labels: backend

build: added docker image
  .dockerignore
  Dockerfile
Labels: none

refactor(api-ui): static methods on API's classes
  webui/frontend/src/api/api-base.ts
  webui/frontend/src/api/player.ts
  webui/frontend/src/api/queue.ts
  webui/frontend/src/api/subscriptions.ts
Labels: frontend

feat(ui): partially implemented store of subs
  webui/frontend/src/store/subscriptions.ts
Labels: frontend
